.LogoutMenu {
    display: flex;
    background-color: rgba($color: #000000, $alpha: 0.6);
    justify-content: right;

    & button {
        height: 40px;
        width: 100px;
        border-radius: 0px;
        border: 0px;
        background-color: rgba($color: #000000, $alpha: 0);
        font-size: 15px;
        color: white;

        &:hover {
            cursor: pointer;
            color: rgb(0, 0, 0);
        }
    }
}